<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script>
    const gitalk = new Gitalk({
        clientID: '8baa3315707cba3a0807',
        clientSecret: '7700f662843a1e5c26f19a7f7f94c7b01da1c396',
        repo: 'blog',      // The repository of store comments,
        owner: 'NeumoNeumo',
        admin: ['NeumoNeumo'],
        id: location.pathname,      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
    })

    gitalk.render('gitalk-container')
</script>